body,
html {
    background-color: #2a303c;
    margin: 0;
}

@font-face {
    font-family: "FiraCode";
    src: url("./FiraCodeNerdFontMono-Regular.ttf");
}

* {
    box-sizing: border-box;
    font-family: "FiraCode", "Microsoft Yahei", "San Francisco", "Helvetica", 'Courier New', Courier, monospace;
}

:root {
    --red: #ffae9b;
    --yellow: #efd057;
    --green: #9fe88d;
    --blue: #28ebff;
    --white: #b1cbd5;
    --font-color-black: #091307;
    --font-color-grey: #64748b;
    --font-color-white: #b1cbd5;
    --border-color-grey: #38404c;
    --background-color-grey: #38404c;
    --background-color-1: #2a303c;
    --background-color-2: #262b35;
    --background-color-3: #20252e;
    --background-color-4: #1c212b;
}

[data-theme="white"] {
    --primary-color: var(--white);
}

[data-theme="red"] {
    --primary-color: var(--red);
}

[data-theme="yellow"] {
    --primary-color: var(--yellow);
}

[data-theme="green"] {
    --primary-color: var(--green);
}

[data-theme="blue"] {
    --primary-color: var(--blue);
}
